<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2016-2017, Michael A. Updike All rights reserved.
  ~ Licensed under Apache 2.0
  ~ https://opensource.org/licenses/Apache-2.0
  ~ https://github.com/Pushy-Clipboard/pushy-android/blob/master/LICENSE.md
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.weebly.opus1269.clipman">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
    android:name=".app.App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppThemeLight"
    tools:ignore="GoogleAppIndexingWarning">
    <meta-data
      android:name="android.max_aspect"
      android:value="2.1" />

    <activity
      android:name=".ui.main.MainActivity"
      android:label="@string/app_name"
      android:theme="@style/AppThemeLight">
      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.clipviewer.ClipViewerActivity"
      android:label="@string/title_activity_clip_viewer"
      android:parentActivityName=".ui.main.MainActivity"
      android:theme="@style/AppThemeLight" />
    <activity
      android:name=".ui.settings.SettingsActivity"
      android:label="@string/title_activity_settings"
      android:parentActivityName=".ui.main.MainActivity"
      android:theme="@style/AppThemeLight" />
    <activity
      android:name=".ui.errorviewer.ErrorViewerActivity"
      android:label="@string/title_activity_error_viewer"
      android:parentActivityName=".ui.main.MainActivity"
      android:theme="@style/AppThemeLight" />
    <activity
      android:name=".ui.help.HelpActivity"
      android:label="@string/title_activity_help"
      android:parentActivityName=".ui.main.MainActivity"
      android:theme="@style/AppThemeLight" />
    <activity
      android:name=".ui.signin.SignInActivity"
      android:label="@string/title_activity_sign_in"
      android:parentActivityName=".ui.main.MainActivity"
      android:theme="@style/AppThemeLight" />
    <activity
      android:name=".ui.devices.DevicesActivity"
      android:label="@string/title_activity_devices"
      android:parentActivityName=".ui.main.MainActivity"
      android:theme="@style/AppThemeLight" />

    <!-- private to app -->
    <provider
      android:name=".model.ClipContentProvider"
      android:authorities="com.weebly.opus1269.clipman"
      android:enabled="true"
      android:exported="false" />

    <service
      android:name="com.google.android.gms.analytics.AnalyticsService"
      android:enabled="true"
      android:exported="false" />
    <service
      android:name=".services.MyInstanceIDListenerService"
      android:enabled="true"
      tools:ignore="ExportedService">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
      </intent-filter>
    </service>
    <service
      android:name=".services.MyFcmListenerService"
      android:enabled="true"
      tools:ignore="ExportedService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <!-- private to app -->
    <service
      android:name=".services.RefreshTokenJobService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
      </intent-filter>
    </service>

    <!-- private to app -->
    <service
      android:name=".services.ClipboardWatcherService"
      android:enabled="true"
      android:exported="false" />

    <receiver android:name=".services.MyWidgetProvider">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/widget_info" />
    </receiver>

    <!--
     Register AnalyticsReceiver and AnalyticsService to support
     background dispatching on non-Google Play devices.
        -->
    <receiver
      android:name="com.google.android.gms.analytics.AnalyticsReceiver"
      android:enabled="true"
      tools:ignore="ExportedReceiver">
      <intent-filter>
        <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
      </intent-filter>
    </receiver>

    <!-- private to app -->
    <receiver
      android:name=".services.AutoStartReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <!-- private to app -->
    <receiver
      android:name=".services.PackageReplacedReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>

    <!-- private to app -->
    <receiver
      android:name=".services.AlarmReceiver"
      android:enabled="true"
      android:exported="false" />

    <!-- private to app -->
    <receiver
      android:name=".model.Notifications$NotificationReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="com.weebly.opus1269.clipman.DELETE_NOTIFICATION_ACTION" />
        <action android:name="com.weebly.opus1269.clipman.SEARCH_ACTION" />
        <action android:name="com.weebly.opus1269.clipman.SHARE_ACTION" />
      </intent-filter>
    </receiver>

  </application>

</manifest>
